<!-- templates/login.html -->
{% extends 'auth/base.html' %} {% block title %}Login - Sydney Market{% endblock
%} {% block content %}
<div class="container mx-auto px-4 py-8 items-center">
  <div
    class="flex-shrink-0 flex items-center space-x-4 mx-auto justify-center mb-6"
  >
    {% if settings['logo_path'] %}
    <a href="{{ url_for('public.index') }}">
      <img
        src="{{ url_for('static', filename=settings['logo_path']) }}"
        alt="{{ settings['site_name'] }} Logo"
        class="h-10"
      />
    </a>
    {% else %}
    <span class="text-xl font-bold">
      <img
      src="{{ url_for('static', filename='images/logo.png') }}"
      alt="{{ settings['site_name'] }} Logo"
      class="h-10 hidden xl:block"
    /> 
    </span>
    {% endif %}
  </div>
  <div class="bg-card p-6 rounded-lg shadow-md max-w-md mx-auto">
    <h1 class="text-xl font-bold text-white mb-2">Login to Sydney Market</h1>
    <p class="text-gray-400 mb-6 text-xs">
      Welcome to Sydney Market! Please login to access the marketplace. If you
      do not have an account, you can register to get access to the listings.
      Registrations are free and open to everyone. If you have lost your
      password, please use the forgot password form to reset your password.
    </p>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <p
      class="mt-4 {{ 'text-green-600' if category == 'success' else 'text-red-600' }}"
    >
      {{ message }}
    </p>
    {% endfor %} {% endif %} {% endwith %}

    <form method="POST" class="space-y-2">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div>
        <label for="username" class="block text-gray-500 font-semibold mb-2"
          >Username</label
        >
        <input
          type="text"
          id="username"
          name="username"
          value="{{ form_data.username|default('') }}"
          class="w-full py-2 px-4 rounded-md border border-gray-600 bg-gray-800 text-white focus:outline-none focus:ring-1 focus:ring-slate-400"
          placeholder="Enter your private username, not the public one"
          required
        />
      </div>
      <div class="pb-2">
        <label for="password" class="block text-gray-500 font-semibold mb-2"
          >Password</label
        >
        <input
          type="password"
          id="password"
          name="password"
          class="w-full py-2 px-4 rounded-md border border-gray-600 bg-gray-800 text-white focus:outline-none focus:ring-1 focus:ring-slate-400"
          placeholder="Enter your password"
          required
        />
      </div>
      <button
        type="submit"
        class="w-full bg-yellow-400 text-gray-900 font-semibold py-2 px-4 rounded-md hover:bg-yellow-500 transition duration-200"
      >
        Login
      </button>
    </form>

    <p class="mt-4 text-gray-300">
      Don’t have an account?
      <a
        href="{{ url_for('user.register') }}"
        class="text-yellow-400 hover:underline"
        >Register here</a
      >.
    </p>
  </div>
</div>
{% endblock %}
