<option value="">Select country...</option>
<option value="Afghanistan" {% if selected_country == 'Afghanistan' %}selected{% endif %} class="text-gray-100 bg-card">Afghanistan</option>
<option value="Albania" {% if selected_country == 'Albania' %}selected{% endif %} class="text-gray-100 bg-card">Albania</option>
<option value="Algeria" {% if selected_country == 'Algeria' %}selected{% endif %} class="text-gray-100 bg-card">Algeria</option>
<option value="Andorra" {% if selected_country == 'Andorra' %}selected{% endif %} class="text-gray-100 bg-card">Andorra</option>
<option value="Angola" {% if selected_country == 'Angola' %}selected{% endif %} class="text-gray-100 bg-card">Angola</option>
<option value="Antigua and Barbuda" {% if selected_country == 'Antigua and Barbuda' %}selected{% endif %} class="text-gray-100 bg-card">Antigua and Barbuda</option>
<option value="Argentina" {% if selected_country == 'Argentina' %}selected{% endif %} class="text-gray-100 bg-card">Argentina</option>
<option value="Armenia" {% if selected_country == 'Armenia' %}selected{% endif %} class="text-gray-100 bg-card">Armenia</option>
<option value="Australia" {% if selected_country == 'Australia' %}selected{% endif %} class="text-gray-100 bg-card">Australia</option>
<option value="Austria" {% if selected_country == 'Austria' %}selected{% endif %} class="text-gray-100 bg-card">Austria</option>
<option value="Azerbaijan" {% if selected_country == 'Azerbaijan' %}selected{% endif %} class="text-gray-100 bg-card">Azerbaijan</option>
<option value="Bahamas" {% if selected_country == 'Bahamas' %}selected{% endif %} class="text-gray-100 bg-card">Bahamas</option>
<option value="Bahrain" {% if selected_country == 'Bahrain' %}selected{% endif %} class="text-gray-100 bg-card">Bahrain</option>
<option value="Bangladesh" {% if selected_country == 'Bangladesh' %}selected{% endif %} class="text-gray-100 bg-card">Bangladesh</option>
<option value="Barbados" {% if selected_country == 'Barbados' %}selected{% endif %} class="text-gray-100 bg-card">Barbados</option>
<option value="Belarus" {% if selected_country == 'Belarus' %}selected{% endif %} class="text-gray-100 bg-card">Belarus</option>
<option value="Belgium" {% if selected_country == 'Belgium' %}selected{% endif %} class="text-gray-100 bg-card">Belgium</option>
<option value="Belize" {% if selected_country == 'Belize' %}selected{% endif %} class="text-gray-100 bg-card">Belize</option>
<option value="Benin" {% if selected_country == 'Benin' %}selected{% endif %} class="text-gray-100 bg-card">Benin</option>
<option value="Bhutan" {% if selected_country == 'Bhutan' %}selected{% endif %} class="text-gray-100 bg-card">Bhutan</option>
<option value="Bolivia" {% if selected_country == 'Bolivia' %}selected{% endif %} class="text-gray-100 bg-card">Bolivia</option>
<option value="Bosnia and Herzegovina" {% if selected_country == 'Bosnia and Herzegovina' %}selected{% endif %} class="text-gray-100 bg-card">Bosnia and Herzegovina</option>
<option value="Botswana" {% if selected_country == 'Botswana' %}selected{% endif %} class="text-gray-100 bg-card">Botswana</option>
<option value="Brazil" {% if selected_country == 'Brazil' %}selected{% endif %} class="text-gray-100 bg-card">Brazil</option>
<option value="Brunei" {% if selected_country == 'Brunei' %}selected{% endif %} class="text-gray-100 bg-card">Brunei</option>
<option value="Bulgaria" {% if selected_country == 'Bulgaria' %}selected{% endif %} class="text-gray-100 bg-card">Bulgaria</option>
<option value="Burkina Faso" {% if selected_country == 'Burkina Faso' %}selected{% endif %} class="text-gray-100 bg-card">Burkina Faso</option>
<option value="Burundi" {% if selected_country == 'Burundi' %}selected{% endif %} class="text-gray-100 bg-card">Burundi</option>
<option value="Cambodia" {% if selected_country == 'Cambodia' %}selected{% endif %} class="text-gray-100 bg-card">Cambodia</option>
<option value="Cameroon" {% if selected_country == 'Cameroon' %}selected{% endif %} class="text-gray-100 bg-card">Cameroon</option>
<option value="Canada" {% if selected_country == 'Canada' %}selected{% endif %} class="text-gray-100 bg-card">Canada</option>
<option value="Cape Verde" {% if selected_country == 'Cape Verde' %}selected{% endif %} class="text-gray-100 bg-card">Cape Verde</option>
<option value="Central African Republic" {% if selected_country == 'Central African Republic' %}selected{% endif %} class="text-gray-100 bg-card">Central African Republic</option>
<option value="Chad" {% if selected_country == 'Chad' %}selected{% endif %} class="text-gray-100 bg-card">Chad</option>
<option value="Chile" {% if selected_country == 'Chile' %}selected{% endif %} class="text-gray-100 bg-card">Chile</option>
<option value="China" {% if selected_country == 'China' %}selected{% endif %} class="text-gray-100 bg-card">China</option>
<option value="Colombia" {% if selected_country == 'Colombia' %}selected{% endif %} class="text-gray-100 bg-card">Colombia</option>
<option value="Comoros" {% if selected_country == 'Comoros' %}selected{% endif %} class="text-gray-100 bg-card">Comoros</option>
<option value="Congo" {% if selected_country == 'Congo' %}selected{% endif %} class="text-gray-100 bg-card">Congo</option>
<option value="Costa Rica" {% if selected_country == 'Costa Rica' %}selected{% endif %} class="text-gray-100 bg-card">Costa Rica</option>
<option value="Croatia" {% if selected_country == 'Croatia' %}selected{% endif %} class="text-gray-100 bg-card">Croatia</option>
<option value="Cuba" {% if selected_country == 'Cuba' %}selected{% endif %} class="text-gray-100 bg-card">Cuba</option>
<option value="Cyprus" {% if selected_country == 'Cyprus' %}selected{% endif %} class="text-gray-100 bg-card">Cyprus</option>
<option value="Czech Republic" {% if selected_country == 'Czech Republic' %}selected{% endif %} class="text-gray-100 bg-card">Czech Republic</option>
<option value="Democratic Republic of the Congo" {% if selected_country == 'Democratic Republic of the Congo' %}selected{% endif %} class="text-gray-100 bg-card">Democratic Republic of the Congo</option>
<option value="Denmark" {% if selected_country == 'Denmark' %}selected{% endif %} class="text-gray-100 bg-card">Denmark</option>
<option value="Djibouti" {% if selected_country == 'Djibouti' %}selected{% endif %} class="text-gray-100 bg-card">Djibouti</option>
<option value="Dominica" {% if selected_country == 'Dominica' %}selected{% endif %} class="text-gray-100 bg-card">Dominica</option>
<option value="Dominican Republic" {% if selected_country == 'Dominican Republic' %}selected{% endif %} class="text-gray-100 bg-card">Dominican Republic</option>
<option value="East Timor" {% if selected_country == 'East Timor' %}selected{% endif %} class="text-gray-100 bg-card">East Timor</option>
<option value="Ecuador" {% if selected_country == 'Ecuador' %}selected{% endif %} class="text-gray-100 bg-card">Ecuador</option>
<option value="Egypt" {% if selected_country == 'Egypt' %}selected{% endif %} class="text-gray-100 bg-card">Egypt</option>
<option value="El Salvador" {% if selected_country == 'El Salvador' %}selected{% endif %} class="text-gray-100 bg-card">El Salvador</option>
<option value="Equatorial Guinea" {% if selected_country == 'Equatorial Guinea' %}selected{% endif %} class="text-gray-100 bg-card">Equatorial Guinea</option>
<option value="Eritrea" {% if selected_country == 'Eritrea' %}selected{% endif %} class="text-gray-100 bg-card">Eritrea</option>
<option value="Estonia" {% if selected_country == 'Estonia' %}selected{% endif %} class="text-gray-100 bg-card">Estonia</option>
<option value="Eswatini" {% if selected_country == 'Eswatini' %}selected{% endif %} class="text-gray-100 bg-card">Eswatini</option>
<option value="Ethiopia" {% if selected_country == 'Ethiopia' %}selected{% endif %} class="text-gray-100 bg-card">Ethiopia</option>
<option value="Fiji" {% if selected_country == 'Fiji' %}selected{% endif %} class="text-gray-100 bg-card">Fiji</option>
<option value="Finland" {% if selected_country == 'Finland' %}selected{% endif %} class="text-gray-100 bg-card">Finland</option>
<option value="France" {% if selected_country == 'France' %}selected{% endif %} class="text-gray-100 bg-card">France</option>
<option value="Gabon" {% if selected_country == 'Gabon' %}selected{% endif %} class="text-gray-100 bg-card">Gabon</option>
<option value="Gambia" {% if selected_country == 'Gambia' %}selected{% endif %} class="text-gray-100 bg-card">Gambia</option>
<option value="Georgia" {% if selected_country == 'Georgia' %}selected{% endif %} class="text-gray-100 bg-card">Georgia</option>
<option value="Germany" {% if selected_country == 'Germany' %}selected{% endif %} class="text-gray-100 bg-card">Germany</option>
<option value="Ghana" {% if selected_country == 'Ghana' %}selected{% endif %} class="text-gray-100 bg-card">Ghana</option>
<option value="Greece" {% if selected_country == 'Greece' %}selected{% endif %} class="text-gray-100 bg-card">Greece</option>
<option value="Grenada" {% if selected_country == 'Grenada' %}selected{% endif %} class="text-gray-100 bg-card">Grenada</option>
<option value="Guatemala" {% if selected_country == 'Guatemala' %}selected{% endif %} class="text-gray-100 bg-card">Guatemala</option>
<option value="Guinea" {% if selected_country == 'Guinea' %}selected{% endif %} class="text-gray-100 bg-card">Guinea</option>
<option value="Guinea-Bissau" {% if selected_country == 'Guinea-Bissau' %}selected{% endif %} class="text-gray-100 bg-card">Guinea-Bissau</option>
<option value="Guyana" {% if selected_country == 'Guyana' %}selected{% endif %} class="text-gray-100 bg-card">Guyana</option>
<option value="Haiti" {% if selected_country == 'Haiti' %}selected{% endif %} class="text-gray-100 bg-card">Haiti</option>
<option value="Honduras" {% if selected_country == 'Honduras' %}selected{% endif %} class="text-gray-100 bg-card">Honduras</option>
<option value="Hungary" {% if selected_country == 'Hungary' %}selected{% endif %} class="text-gray-100 bg-card">Hungary</option>
<option value="Iceland" {% if selected_country == 'Iceland' %}selected{% endif %} class="text-gray-100 bg-card">Iceland</option>
<option value="India" {% if selected_country == 'India' %}selected{% endif %} class="text-gray-100 bg-card">India</option>
<option value="Indonesia" {% if selected_country == 'Indonesia' %}selected{% endif %} class="text-gray-100 bg-card">Indonesia</option>
<option value="Iran" {% if selected_country == 'Iran' %}selected{% endif %} class="text-gray-100 bg-card">Iran</option>
<option value="Iraq" {% if selected_country == 'Iraq' %}selected{% endif %} class="text-gray-100 bg-card">Iraq</option>
<option value="Ireland" {% if selected_country == 'Ireland' %}selected{% endif %} class="text-gray-100 bg-card">Ireland</option>
<option value="Israel" {% if selected_country == 'Israel' %}selected{% endif %} class="text-gray-100 bg-card">Israel</option>
<option value="Italy" {% if selected_country == 'Italy' %}selected{% endif %} class="text-gray-100 bg-card">Italy</option>
<option value="Ivory Coast" {% if selected_country == 'Ivory Coast' %}selected{% endif %} class="text-gray-100 bg-card">Ivory Coast</option>
<option value="Jamaica" {% if selected_country == 'Jamaica' %}selected{% endif %} class="text-gray-100 bg-card">Jamaica</option>
<option value="Japan" {% if selected_country == 'Japan' %}selected{% endif %} class="text-gray-100 bg-card">Japan</option>
<option value="Jordan" {% if selected_country == 'Jordan' %}selected{% endif %} class="text-gray-100 bg-card">Jordan</option>
<option value="Kazakhstan" {% if selected_country == 'Kazakhstan' %}selected{% endif %} class="text-gray-100 bg-card">Kazakhstan</option>
<option value="Kenya" {% if selected_country == 'Kenya' %}selected{% endif %} class="text-gray-100 bg-card">Kenya</option>
<option value="Kiribati" {% if selected_country == 'Kiribati' %}selected{% endif %} class="text-gray-100 bg-card">Kiribati</option>
<option value="Kuwait" {% if selected_country == 'Kuwait' %}selected{% endif %} class="text-gray-100 bg-card">Kuwait</option>
<option value="Kyrgyzstan" {% if selected_country == 'Kyrgyzstan' %}selected{% endif %} class="text-gray-100 bg-card">Kyrgyzstan</option>
<option value="Laos" {% if selected_country == 'Laos' %}selected{% endif %} class="text-gray-100 bg-card">Laos</option>
<option value="Latvia" {% if selected_country == 'Latvia' %}selected{% endif %} class="text-gray-100 bg-card">Latvia</option>
<option value="Lebanon" {% if selected_country == 'Lebanon' %}selected{% endif %} class="text-gray-100 bg-card">Lebanon</option>
<option value="Lesotho" {% if selected_country == 'Lesotho' %}selected{% endif %} class="text-gray-100 bg-card">Lesotho</option>
<option value="Liberia" {% if selected_country == 'Liberia' %}selected{% endif %} class="text-gray-100 bg-card">Liberia</option>
<option value="Libya" {% if selected_country == 'Libya' %}selected{% endif %} class="text-gray-100 bg-card">Libya</option>
<option value="Liechtenstein" {% if selected_country == 'Liechtenstein' %}selected{% endif %} class="text-gray-100 bg-card">Liechtenstein</option>
<option value="Lithuania" {% if selected_country == 'Lithuania' %}selected{% endif %} class="text-gray-100 bg-card">Lithuania</option>
<option value="Luxembourg" {% if selected_country == 'Luxembourg' %}selected{% endif %} class="text-gray-100 bg-card">Luxembourg</option>
<option value="Madagascar" {% if selected_country == 'Madagascar' %}selected{% endif %} class="text-gray-100 bg-card">Madagascar</option>
<option value="Malawi" {% if selected_country == 'Malawi' %}selected{% endif %} class="text-gray-100 bg-card">Malawi</option>
<option value="Malaysia" {% if selected_country == 'Malaysia' %}selected{% endif %} class="text-gray-100 bg-card">Malaysia</option>
<option value="Maldives" {% if selected_country == 'Maldives' %}selected{% endif %} class="text-gray-100 bg-card">Maldives</option>
<option value="Mali" {% if selected_country == 'Mali' %}selected{% endif %} class="text-gray-100 bg-card">Mali</option>
<option value="Malta" {% if selected_country == 'Malta' %}selected{% endif %} class="text-gray-100 bg-card">Malta</option>
<option value="Marshall Islands" {% if selected_country == 'Marshall Islands' %}selected{% endif %} class="text-gray-100 bg-card">Marshall Islands</option>
<option value="Mauritania" {% if selected_country == 'Mauritania' %}selected{% endif %} class="text-gray-100 bg-card">Mauritania</option>
<option value="Mauritius" {% if selected_country == 'Mauritius' %}selected{% endif %} class="text-gray-100 bg-card">Mauritius</option>
<option value="Mexico" {% if selected_country == 'Mexico' %}selected{% endif %} class="text-gray-100 bg-card">Mexico</option>
<option value="Micronesia" {% if selected_country == 'Micronesia' %}selected{% endif %} class="text-gray-100 bg-card">Micronesia</option>
<option value="Moldova" {% if selected_country == 'Moldova' %}selected{% endif %} class="text-gray-100 bg-card">Moldova</option>
<option value="Monaco" {% if selected_country == 'Monaco' %}selected{% endif %} class="text-gray-100 bg-card">Monaco</option>
<option value="Mongolia" {% if selected_country == 'Mongolia' %}selected{% endif %} class="text-gray-100 bg-card">Mongolia</option>
<option value="Montenegro" {% if selected_country == 'Montenegro' %}selected{% endif %} class="text-gray-100 bg-card">Montenegro</option>
<option value="Morocco" {% if selected_country == 'Morocco' %}selected{% endif %} class="text-gray-100 bg-card">Morocco</option>
<option value="Mozambique" {% if selected_country == 'Mozambique' %}selected{% endif %} class="text-gray-100 bg-card">Mozambique</option>
<option value="Myanmar" {% if selected_country == 'Myanmar' %}selected{% endif %} class="text-gray-100 bg-card">Myanmar</option>
<option value="Namibia" {% if selected_country == 'Namibia' %}selected{% endif %} class="text-gray-100 bg-card">Namibia</option>
<option value="Nauru" {% if selected_country == 'Nauru' %}selected{% endif %} class="text-gray-100 bg-card">Nauru</option>
<option value="Nepal" {% if selected_country == 'Nepal' %}selected{% endif %} class="text-gray-100 bg-card">Nepal</option>
<option value="Netherlands" {% if selected_country == 'Netherlands' %}selected{% endif %} class="text-gray-100 bg-card">Netherlands</option>
<option value="New Zealand" {% if selected_country == 'New Zealand' %}selected{% endif %} class="text-gray-100 bg-card">New Zealand</option>
<option value="Nicaragua" {% if selected_country == 'Nicaragua' %}selected{% endif %} class="text-gray-100 bg-card">Nicaragua</option>
<option value="Niger" {% if selected_country == 'Niger' %}selected{% endif %} class="text-gray-100 bg-card">Niger</option>
<option value="Nigeria" {% if selected_country == 'Nigeria' %}selected{% endif %} class="text-gray-100 bg-card">Nigeria</option>
<option value="North Korea" {% if selected_country == 'North Korea' %}selected{% endif %} class="text-gray-100 bg-card">North Korea</option>
<option value="North Macedonia" {% if selected_country == 'North Macedonia' %}selected{% endif %} class="text-gray-100 bg-card">North Macedonia</option>
<option value="Norway" {% if selected_country == 'Norway' %}selected{% endif %} class="text-gray-100 bg-card">Norway</option>
<option value="Oman" {% if selected_country == 'Oman' %}selected{% endif %} class="text-gray-100 bg-card">Oman</option>
<option value="Pakistan" {% if selected_country == 'Pakistan' %}selected{% endif %} class="text-gray-100 bg-card">Pakistan</option>
<option value="Palau" {% if selected_country == 'Palau' %}selected{% endif %} class="text-gray-100 bg-card">Palau</option>
<option value="Panama" {% if selected_country == 'Panama' %}selected{% endif %} class="text-gray-100 bg-card">Panama</option>
<option value="Papua New Guinea" {% if selected_country == 'Papua New Guinea' %}selected{% endif %} class="text-gray-100 bg-card">Papua New Guinea</option>
<option value="Paraguay" {% if selected_country == 'Paraguay' %}selected{% endif %} class="text-gray-100 bg-card">Paraguay</option>
<option value="Peru" {% if selected_country == 'Peru' %}selected{% endif %} class="text-gray-100 bg-card">Peru</option>
<option value="Philippines" {% if selected_country == 'Philippines' %}selected{% endif %} class="text-gray-100 bg-card">Philippines</option>
<option value="Poland" {% if selected_country == 'Poland' %}selected{% endif %} class="text-gray-100 bg-card">Poland</option>
<option value="Portugal" {% if selected_country == 'Portugal' %}selected{% endif %} class="text-gray-100 bg-card">Portugal</option>
<option value="Qatar" {% if selected_country == 'Qatar' %}selected{% endif %} class="text-gray-100 bg-card">Qatar</option>
<option value="Romania" {% if selected_country == 'Romania' %}selected{% endif %} class="text-gray-100 bg-card">Romania</option>
<option value="Russia" {% if selected_country == 'Russia' %}selected{% endif %} class="text-gray-100 bg-card">Russia</option>
<option value="Rwanda" {% if selected_country == 'Rwanda' %}selected{% endif %} class="text-gray-100 bg-card">Rwanda</option>
<option value="Saint Kitts and Nevis" {% if selected_country == 'Saint Kitts and Nevis' %}selected{% endif %} class="text-gray-100 bg-card">Saint Kitts and Nevis</option>
<option value="Saint Lucia" {% if selected_country == 'Saint Lucia' %}selected{% endif %} class="text-gray-100 bg-card">Saint Lucia</option>
<option value="Saint Vincent and the Grenadines" {% if selected_country == 'Saint Vincent and the Grenadines' %}selected{% endif %} class="text-gray-100 bg-card">Saint Vincent and the Grenadines</option>
<option value="Samoa" {% if selected_country == 'Samoa' %}selected{% endif %} class="text-gray-100 bg-card">Samoa</option>
<option value="San Marino" {% if selected_country == 'San Marino' %}selected{% endif %} class="text-gray-100 bg-card">San Marino</option>
<option value="Sao Tome and Principe" {% if selected_country == 'Sao Tome and Principe' %}selected{% endif %} class="text-gray-100 bg-card">Sao Tome and Principe</option>
<option value="Saudi Arabia" {% if selected_country == 'Saudi Arabia' %}selected{% endif %} class="text-gray-100 bg-card">Saudi Arabia</option>
<option value="Senegal" {% if selected_country == 'Senegal' %}selected{% endif %} class="text-gray-100 bg-card">Senegal</option>
<option value="Serbia" {% if selected_country == 'Serbia' %}selected{% endif %} class="text-gray-100 bg-card">Serbia</option>
<option value="Seychelles" {% if selected_country == 'Seychelles' %}selected{% endif %} class="text-gray-100 bg-card">Seychelles</option>
<option value="Sierra Leone" {% if selected_country == 'Sierra Leone' %}selected{% endif %} class="text-gray-100 bg-card">Sierra Leone</option>
<option value="Singapore" {% if selected_country == 'Singapore' %}selected{% endif %} class="text-gray-100 bg-card">Singapore</option>
<option value="Slovakia" {% if selected_country == 'Slovakia' %}selected{% endif %} class="text-gray-100 bg-card">Slovakia</option>
<option value="Slovenia" {% if selected_country == 'Slovenia' %}selected{% endif %} class="text-gray-100 bg-card">Slovenia</option>
<option value="Solomon Islands" {% if selected_country == 'Solomon Islands' %}selected{% endif %} class="text-gray-100 bg-card">Solomon Islands</option>
<option value="Somalia" {% if selected_country == 'Somalia' %}selected{% endif %} class="text-gray-100 bg-card">Somalia</option>
<option value="South Africa" {% if selected_country == 'South Africa' %}selected{% endif %} class="text-gray-100 bg-card">South Africa</option>
<option value="South Korea" {% if selected_country == 'South Korea' %}selected{% endif %} class="text-gray-100 bg-card">South Korea</option>
<option value="South Sudan" {% if selected_country == 'South Sudan' %}selected{% endif %} class="text-gray-100 bg-card">South Sudan</option>
<option value="Spain" {% if selected_country == 'Spain' %}selected{% endif %} class="text-gray-100 bg-card">Spain</option>
<option value="Sri Lanka" {% if selected_country == 'Sri Lanka' %}selected{% endif %} class="text-gray-100 bg-card">Sri Lanka</option>
<option value="Sudan" {% if selected_country == 'Sudan' %}selected{% endif %} class="text-gray-100 bg-card">Sudan</option>
<option value="Suriname" {% if selected_country == 'Suriname' %}selected{% endif %} class="text-gray-100 bg-card">Suriname</option>
<option value="Sweden" {% if selected_country == 'Sweden' %}selected{% endif %} class="text-gray-100 bg-card">Sweden</option>
<option value="Switzerland" {% if selected_country == 'Switzerland' %}selected{% endif %} class="text-gray-100 bg-card">Switzerland</option>
<option value="Syria" {% if selected_country == 'Syria' %}selected{% endif %} class="text-gray-100 bg-card">Syria</option>
<option value="Taiwan" {% if selected_country == 'Taiwan' %}selected{% endif %} class="text-gray-100 bg-card">Taiwan</option>
<option value="Tajikistan" {% if selected_country == 'Tajikistan' %}selected{% endif %} class="text-gray-100 bg-card">Tajikistan</option>
<option value="Tanzania" {% if selected_country == 'Tanzania' %}selected{% endif %} class="text-gray-100 bg-card">Tanzania</option>
<option value="Thailand" {% if selected_country == 'Thailand' %}selected{% endif %} class="text-gray-100 bg-card">Thailand</option>
<option value="Togo" {% if selected_country == 'Togo' %}selected{% endif %} class="text-gray-100 bg-card">Togo</option>
<option value="Tonga" {% if selected_country == 'Tonga' %}selected{% endif %} class="text-gray-100 bg-card">Tonga</option>
<option value="Trinidad and Tobago" {% if selected_country == 'Trinidad and Tobago' %}selected{% endif %} class="text-gray-100 bg-card">Trinidad and Tobago</option>
<option value="Tunisia" {% if selected_country == 'Tunisia' %}selected{% endif %} class="text-gray-100 bg-card">Tunisia</option>
<option value="Turkey" {% if selected_country == 'Turkey' %}selected{% endif %} class="text-gray-100 bg-card">Turkey</option>
<option value="Turkmenistan" {% if selected_country == 'Turkmenistan' %}selected{% endif %} class="text-gray-100 bg-card">Turkmenistan</option>
<option value="Tuvalu" {% if selected_country == 'Tuvalu' %}selected{% endif %} class="text-gray-100 bg-card">Tuvalu</option>
<option value="Uganda" {% if selected_country == 'Uganda' %}selected{% endif %} class="text-gray-100 bg-card">Uganda</option>
<option value="Ukraine" {% if selected_country == 'Ukraine' %}selected{% endif %} class="text-gray-100 bg-card">Ukraine</option>
<option value="United Arab Emirates" {% if selected_country == 'United Arab Emirates' %}selected{% endif %} class="text-gray-100 bg-card">United Arab Emirates</option>
<option value="United Kingdom" {% if selected_country == 'United Kingdom' %}selected{% endif %} class="text-gray-100 bg-card">United Kingdom</option>
<option value="United States" {% if selected_country == 'United States' %}selected{% endif %} class="text-gray-100 bg-card">United States</option>
<option value="Uruguay" {% if selected_country == 'Uruguay' %}selected{% endif %} class="text-gray-100 bg-card">Uruguay</option>
<option value="Uzbekistan" {% if selected_country == 'Uzbekistan' %}selected{% endif %} class="text-gray-100 bg-card">Uzbekistan</option>
<option value="Vanuatu" {% if selected_country == 'Vanuatu' %}selected{% endif %} class="text-gray-100 bg-card">Vanuatu</option>
<option value="Vatican City" {% if selected_country == 'Vatican City' %}selected{% endif %} class="text-gray-100 bg-card">Vatican City</option>
<option value="Venezuela" {% if selected_country == 'Venezuela' %}selected{% endif %} class="text-gray-100 bg-card">Venezuela</option>
<option value="Vietnam" {% if selected_country == 'Vietnam' %}selected{% endif %} class="text-gray-100 bg-card">Vietnam</option>
<option value="Yemen" {% if selected_country == 'Yemen' %}selected{% endif %} class="text-gray-100 bg-card">Yemen</option>
<option value="Zambia" {% if selected_country == 'Zambia' %}selected{% endif %} class="text-gray-100 bg-card">Zambia</option>
<option value="Zimbabwe" {% if selected_country == 'Zimbabwe' %}selected{% endif %} class="text-gray-100 bg-card">Zimbabwe</option> 