{% extends 'user/user_base.html' %} {% block title %}Dashboard - {{
    settings['site_name'] }}{% endblock %} {% block user_content %}
    <div class="container gap-2 px-6 py-6">
       
     
          <div class="w-full flex flex-col gap-1">
             <p class="disablejs">
                We highly recommend that you disable Javascript when viewing the
                marketplace for better security.
             </p>
             <span>
                <style>
                   .disablejs {
                   display: none !important;
                   }
                </style>
             </span>
          </div>
      <!-- Recent Orders -->
      <div class="mb-8 w-full">
         <h2 class="text-xl font-bold text-white mb-4">Recent Orders</h2>
         {% if orders %}
             <div class="bg-gray-800 p-4 rounded-md text-white">
                 {% for order in orders %}
                     <div class="flex justify-between py-2 border-b border-gray-700">
                         <div>
                             <p><strong>{{ order.title }}</strong></p>
                             <p>Vendor: {{ order.vendor_username }}</p>
                         </div>
                         <p>{{ order.created_at }}</p>
                     </div>
                 {% endfor %}
             </div>
         {% else %}
             <p class="text-white">No recent orders.</p>
         {% endif %}
     </div>
     
     <!-- Recent Reports -->
     <div class="w-full">
         <h2 class="text-xl font-bold text-white mb-4">Recent Reports</h2>
         {% if reports %}
             <div class="bg-gray-800 p-4 rounded-md text-white">
                 {% for report in reports %}
                     <div class="flex justify-between py-2 border-b border-gray-700">
                         <div>
                             <p><strong>Report ID: {{ report.id }}</strong></p>
                             {% if report.vendor_username %}
                                 <p>Vendor: {{ report.vendor_username }}</p>
                             {% else %}
                                 <p>No vendor specified</p>
                             {% endif %}
                         </div>
                         <p>{{ report.created_at }}</p>
                     </div>
                 {% endfor %}
             </div>
         {% else %}
             <p class="text-white">No recent reports.</p>
         {% endif %}
     </div>
    </div>
    {% endblock %}